@font-face {
  font-family: Anton-Regular;
  src: url("../fonts/Anton-Regular.ttf");
}

body {
  background-image: url("../background/background.webp");
}

.logIn {
  background: none;
  border: none;
  cursor: pointer;
}

.logIn img {
  height: 30px;
}

.logInContainer {
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logInContainer h1 {
  color: #fff;
  margin-bottom: 20px;
}

.logInContainer form {
  display: flex;
  flex-direction: column;
}

.logInContainer input[type="text"],
.logInContainer input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.logInContainer input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #52cf45ff;
  color: #fff;
  cursor: pointer;
}

.logInContainer input[type="submit"]:hover {
  background-color: rgb(101, 245, 85);
}
