@font-face {
  font-family: Anton-Regular;
  src: url("../fonts/Anton-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../photos/background/background.webp");
}

.logInContainer {
  width: 40vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 27, 27);
}
